<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" *ngFor="let p of productsArray ">
            <div class="card">
                <div>
                    <div class="card-header">
                        <img [src]="p.productImage" alt="" class="card-img-top">
                    </div>
                    <div *ngIf="!p.pflag">
                        <div class="card-body">
                            <h4>{{p.productName}}</h4>
                            <h6>Product Company: {{p.productCompany}} </h6>
                            <p>Product Features: {{p.productFeatures}}</p>
                            <label for="" class="badge bg-success">
                                {{p.productPrice|currency:'INR'}}
                            </label>
                        </div>
                    </div>
                </div>
                <div *ngIf="p.pflag">
                    <div class="card-body">
                        <label for="">Product : </label>
                        <input type="text" name="" id="" [(ngModel)]="p.productName"><br>
                        <label for="">Manufactured By : </label>
                        <input type="text" name="" id="" [(ngModel)]="p.productCompany"><br>
                        <label for="">Features : </label>
                        <input type="text" name="" id="" [(ngModel)]="p.productFeatures"><br>
                        <label for="">Price : </label>
                        <input type="text" name="" id="" [(ngModel)]="p.productPrice">
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" *ngIf="p.pflag" (click)="update(p)">Save Changes</button>
                    <button class="btn btn-warning" *ngIf="!p.pflag" (click)="changeflag(p)">Update</button>&nbsp;
                    <button class="btn btn-danger" (click)="deleteme(p)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>